.login {
          width: 100%;
          height: 100vh;
          background-image: linear-gradient(black, rgb(61, 61, 201));
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
}


.login .form {
          width: 50%;
          padding: 10px;
          background-color: black;
          opacity: 0.8;
          display: flex;
          flex-direction: column;
          position:relative;


}

.login .form span {
          width: 100%;
          margin: 10px 0px;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: white;
          padding: 10px;


}

.login .form span.signuplink {
          font-size: 15px;
          color: grey;

}

.login .form span.signuplink a {
          text-decoration: none;
          color: rgb(48, 48, 133);
          display: inline;

}

.login .form span.signuplink a:hover {
          font-weight: 600;
}

.login .form span input {
          width: 60%;
          outline: none;
          border: none;
          background-color: black;
          border-bottom: 2px solid white;
          padding: 10px;
          color: grey;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
}

.login .form span input:hover {
          background-color: rgb(31, 29, 29);
          color: white;


}

.login .form span input::placeholder {
          color: grey;
          animation: 0.4s;
}

.login .form span.button {
          width: 100%;
          justify-content: center;

}

.login .form span.button button {
          padding: 10px;
          font-size: 15px;
          background-color: rgb(61, 61, 201);
          border: none;
          border-radius: 5px;
          color: rgb(201, 200, 200);
          transition: 0.4s;
}

.login .form span.button button:hover {


          background-color: rgb(58, 58, 167);
          color: white;
          transform: scale(1.1);
}

.login .form span a {
          text-decoration: none;
          color: rgb(61, 61, 201);
}

.login .form span.button {
          justify-content: center;
          font-size: 10px;

}
.login .popup-warning-window{
          position:absolute;
          width:100%;
          height:auto;
          bottom:100%;
          left:0%;
          background-color: white;
        
          z-index: 15;
          box-shadow: rgba(10, 10, 10, 0.801) 0px 5px 15px;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        
        }
        .popup-warning-window.hide{
          display: none;
        }
@media (max-width:500px) {

          .login .form {
                    width: 80%;
          }

          .login .form span.signuplink {
                    font-size: 10px;
          }

          .login .form span {
                    padding: 5px;
                    margin: 5px 0px;
          }

          .login .form span.button button {
                    font-size: 10px;
          }
          .login .form span{
                    font-size: 15px;
          }


}

