
.profile{
          width:100%;
          height:100%;
          display: flex;
          flex-direction: column;
          background: none;
          position: relative;
          margin: 0px;
          padding: 0px;

}
.profile img.prof-image{
          width:300px;
          height:300px;
          border-radius: 50%;
          border:10px solid rgb(28, 6, 104);
          position:absolute;
          top:20%;
          left:15%;
}
.profile .banner{
          width:100%;
          height:40%;
          margin: 0px;

}
.profile .profile-details{
          width:100%;
          height: 60%;
          display:flex;
          flex-direction: row;
          margin: 0px;
}
.profile .banner img{
          width:100%;
          height:100%;
          margin: 0px;

}
.profile .profile-details .about{
          width:50%;
          height:100%;
          
          display:flex;
          align-items: center;
}
.profile .profile-details .about .aboutbox{
          width: 100%;
          height: 100%;
        justify-content: center;

          display:flex;
          flex-direction: column;
          position: relative;
}
.profile .profile-details .about .aboutbox span{
          width:100%;
          padding:10px;
          color:rgb(247, 245, 245)


}
.profile .profile-details .about .aboutbox span.name{
          font-size: 50px;
          font-weight: 600;
         
}
.profile .profile-details .about .aboutbox span.tagline{
          font-size:15px
}
.profile .profile-details .about .aboutbox span.about-details{
          font-size: 20px;
}
.profile .profile-details .about .aboutbox span.buttons{
          display:flex;
          flex-direction: row;
          justify-content: flex-end;
          position:absolute;
          bottom:0;
          right:0;

}

.profile .profile-details .about .aboutbox span.buttons button{
          border:none;
          border-radius: 5px;
          outline: none;
          background-color:rgb(189, 192, 189); 
          padding: 10px;
         
}
.profile .profile-details .about .aboutbox span.buttons a{
          text-decoration: none;
          color:rgb(58, 20, 148);
          font-size: 15px;
}
.profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2{
          position: absolute;
          right: 0;
          bottom:100%;
          width: 250px;
          height: 500px;
          background-color: white;
          border: 2px solid rgb(58, 20, 148);
          z-index: 5;
          overflow-y: scroll;
          padding: 10px;

}
.profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2 span{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 20px;
          color:black;
          margin:5px 0px;
          align-items: center;
          
          background-color: rgb(195, 196, 197);
          border-radius: 5px;

}

.profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2 span img{
          margin:10px auto;
          width: 40px;
          height: 40px;

          border-radius: 50%;
          
}

.profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2::-webkit-scrollbar{
          display:none;
}
.profile .profile-details .about .aboutbox span.buttons span.followers{
          padding: 10px;
          border-radius: 5px;
          font-size: 15px;
          border: none;
          background-color: rgb(189, 192, 189);
          color: rgb(58, 20, 148);
          margin: 0px 10px;
          position: relative;

          width: fit-content;
          cursor: pointer;
}
.profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2.none{
          display: none;
}












.profile .profile-details .posts{
          width:50%;
          height:100%;
          display: flex;
          flex-direction: column;
          position: relative;
          background-color: rgb(187, 189, 190);
          overflow-y: hidden;
          margin:0px ;
          
        
}
.profile .profile-details .posts .mypostlist{
          width:100%;
          height:90%;
          
          padding:10px;
          overflow-y: auto;
          position: relative;
          
          

}
.profile .profile-details .posts .mypostlist p.blank-message{
          color:rgb(87, 80, 80);
          font-size: 30px;
          width: fit-content;
          margin: auto;
}
.profile .profile-details .posts .mypostlist::-webkit-scrollbar{
          display:none;
}
.profile .profile-details .posts .post-bar{
          width:100%;
          margin: auto;
          padding:10px;
          height:10%;
          display:flex;
          justify-content: space-between;
          
          align-items: center;
          font-size: 20px;
          color:rgb(54, 50, 50);
          border-radius: 5px;
          background-color:rgb(215, 224, 215); 
          position: relative;
         
          
         

}
.profile .profile-details .posts .post-bar span.icons{
          display: flex;
          width:60%;
          justify-content: space-evenly;
          background-color: rgb(134, 143, 151);
          border-radius: 10px;
          padding: 5px;
}
.profile .profile-details .posts .post-bar span.p{
          width: 40%;
}
.profile .profile-details .posts .post-bar span.icons span i{
          margin :5px;
          color:rgb(47, 48, 47);
          font-size: 25px;

}


.profile-details .posts .post-bar span.icons span:hover i{
          color:rgb(48, 48, 133);
          border-radius: 5px;

}
.loading{
  width:100%;
  height:100%;
  margin:0px;
 
}



@media (max-width:500px) {
          .profile{
                    height: auto;
                    overflow-y: scroll;
                    
          }
          .profile::-webkit-scrollbar{
                    display: none;
          }
          .profile img.prof-image{
                    width:100px;
                    height:100px;
                    border-width: 2px;
                    top:100px;
                    left:0%;
          }
          .profile .banner{
                    width:100%;
                    height:150px;
                    margin: 0px;
          
          }
          .profile .profile-details{
                    flex-direction: column;
          }
          .profile .profile-details .about{
                    width: 100%;
                    margin-top: 50px;
                    height:auto;
                    
          }
          .profile .profile-details .about .aboutbox span.buttons{
                    position: relative;
                    justify-content: center;
          }
          .profile .profile-details .about .aboutbox span.name{
                    font-size: 20px;
          }
          .profile .profile-details .about .aboutbox span.tagline{
                    font-size:10px
          }
          .profile .profile-details .about .aboutbox span.about-details{
          
                    font-size:12px;
                    height: 100px;
          }
          .profile .profile-details .about .aboutbox span.buttons button{
                    border:none;
                    border-radius: 5px;
                    outline: none;
                    background-color:rgb(189, 192, 189); 
                    padding: 5px;
                   
          }
          .profile .profile-details .about .aboutbox span.buttons a{
                  
                    font-size: 10px;
          }
          .profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2{
                    position: absolute;
                    right: 0;
                    bottom:100%;
                    width: 100px;
                    height: 300px;
                    background-color: white;
                    border: 1px solid rgb(58, 20, 148);
                    z-index: 5;
                    overflow-y: scroll;
                    padding: 5px;
          
          }
          .profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2 span{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 10px;
                    color:black;
                    margin:3px 0px;
                    align-items: center;
                    
                    background-color: rgb(195, 196, 197);
                    border-radius: 5px;
          
          }
          
          .profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2 span img{
                    margin:5px auto;
                    width: 20px;
                    height: 20px;
          
                    border-radius: 50%;
                    
          }
          
          .profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2::-webkit-scrollbar{
                    display:none;
          }
          .profile .profile-details .about .aboutbox span.buttons span.followers{
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 10px;
                    border: none;
                    background-color: rgb(189, 192, 189);
                    color: rgb(58, 20, 148);
                    margin: 0px 5px;
                    position: relative;
          
                    width: fit-content;
                    cursor: pointer;
          }
          .profile .profile-details .about .aboutbox span.buttons span.followers .dropup-follower-menu2.none{
                    display: none;
          }
          .profile .profile-details .posts{
                    width: 100%;
                    height: auto;
                    display:block;
          }
          .profile .profile-details .posts .mypostlist{
                    width:100%;
                    height:370px;
                  
          }
          .profile .profile-details .posts .post-bar{
                    width:100%;
                    height:auto;
                    font-size: 10px;
          }
          .profile .profile-details .posts .post-bar span.icons{
                    display: flex;
                    width:50%;
                    justify-content: space-evenly;
                    background-color: rgb(134, 143, 151);
                    border-radius: 5px;
                    padding: 5px;
          }
          .profile .profile-details .posts .post-bar span.p{
                    width: 50%;
          }
          .profile .profile-details .posts .post-bar span.icons span i{
                    margin :5px;
                    color:rgb(47, 48, 47);
                    font-size: 15px;
          
          }
          
          
          .profile-details .posts .post-bar span.icons span:hover i{
                    color:rgb(48, 48, 133);
                    border-radius: 5px;
          }

}